@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
  
}

.content{
    margin-left: 230px;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 40%;
    background-color: #1a2b71;
    color: white;
}

#chat{
    margin-left: 800px;


}

#outchat{
    
    width: 700px; 
    background-color: grey; 
}

#innerchat{
    width: 700px; 
    background-color: white;
}
