@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

/* body */
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #cecece;
}
.content{
    width: 800px;
    height: 1000px;
    margin-left: 20%;
    margin-top: 0%;

}
.profiletitle{
    margin-left: 20%;
    margin-top: 3%;
}
.tickettitle{
    margin-left: 20%;
    margin-top: 3%;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 40%;
    background-color: #1a2b71;
    color: white;
}


#outchat{
    
    width: 700px; 
    background-color: grey;
    height: 60px; 
}

#innerchat{
    width: 700px;
    height: 100px; 
    background-color: white;    
    
}

/* nav */

nav{
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #e7ae41;
    width: 90px;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0, 0.9);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 15px 0 0 10px;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: -5px;
}
.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: black;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
    position: relative; 
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}
