html {	scroll-behavior: smooth;
    	font-family: Helvetica, sans-serif, Arial;
		}

body {	margin: 0 auto;
    	background-color: #222;
		}

.navtop {	background-color: goldenrod;
			height: 60px;
			width: 100%;
			border: 0;
			}

.navtop div {	display: flex;
				margin: 0 auto;
				width: 1000px;
				height: 100%;
				}
.navtop div h1, .navtop div a {	display: inline-flex;
								align-items: center;
								}

.navtop div h1 {	flex: 1;
					font-size: 24px;
					padding: 0;
					margin: 0;
					color: #eaebed;
					font-weight: normal;
					}

.navtop div a {	padding: 0 20px;
				text-decoration: none;
				color: #c1c4c8;
				font-weight: bold;
				}

.navtop div a i {padding: 2px 8px 0 0;}

.navtop div a:hover {color: #eaebed;}

body.loggedin {background-color: #f3f4f7;}

.content {	width: 1000px;
			margin: 0 auto;
			}

#addt {  padding: 10px 25px 8px; 
	color: #fff; 
	background-color: #0067ab; 
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid #0164a5; 
	border-radius: 2px; 
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;  
	cursor:pointer;
}

a { color:#0067ab; 
    text-decoration:none;
        }

a:hover {text-decoration:underline;}