html {	scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
    }

body {	margin: 0 auto;
    background-color: #293a82;
    overflow:auto;
    }

.navtop {	background-color: #e7ae41;
        height: 60px;
        width: 100%;
        border: 0;
        }

.navtop div {	display: flex;
            margin: 0 auto;
            width: 1000px;
            height: 100%;
            }
.navtop div h1, .navtop div a {	display: inline-flex;
                              align-items: center;
                              }

.navtop div h1 {	flex: 1;
                font-size: 24px;
                padding: 0;
                margin: 0;
                color: #000000;
                font-weight: normal;
                }

.navtop div a {	padding: 0 20px;
            text-decoration: none;
            color: #000000;
            font-weight: bold;
            }

.navtop div a i {padding: 2px 8px 0 0;}

.navtop div a:hover {color: #ffffff;}

/* Template*/

.content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 1100px;
          height: 500px;
          background: white;
          border-radius: 10px;
          margin: 0 auto;
        }

.content h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);  
}

.content p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);  
}

.content h2{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -650%);  
}

.content #ticket-direct{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800%); 
}

#addt {  padding: 10px 25px 8px; 
	color: #fff; 
	background-color: #0067ab; 
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid #0164a5; 
	border-radius: 2px; 
	margin-left: 83%;
	margin-top: 5%;  
	cursor:pointer;
}

a { color:#0067ab; 
    text-decoration:none;
}