.container {
    position: absolute;
    top: 165px;
    left: 200px;
   
  }
  table {
    width: 1100px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }
  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
  }
  th {
    text-align: left;
  }
  thead th {
    background-color: #e7e8ea;
  }
  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }
  
  .assignid {
    width: 100px;
    text-align: center;
  }
  